* {
    font-family: Roboto, sans-serif;
    background-color: lightcoral;
    color: white;
    /* border: 1px solid black; */
}

body {
    width: 50%;
    margin: 0 auto 100px;
}

.home-images {
    display: flex;
    justify-content: space-between;
}

img {
    display: inline-block;
    width: 32%;
}

img.recipe {
    width: 100%;
}

.home-links {
    margin: 25px 0 0;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: white;
    color: lightcoral;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    flex-shrink: 1;
}

button:hover {
    background-color: black;
}

a {
    text-decoration: none;
}